#group {
    outline-color: black;
}

ul {
    max-width: 500px;
    padding-left: 0;
    border: solid 1px;
    position: relative;
    left: 50px;
}

li {
    max-width: 500px;
    list-style: none;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;

}

#groupEdit {
    padding: 13px 10px 12px 10px;
    position: relative;
    left: 121px;
}

#group {
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 50px;
}

div p {
    display: inline-block;
}

html,
body {
    overflow: hidden;
}

#groupName {
    padding: 20px 300px 20px 20px;
    border: solid 1px;
    width: 500px;
    text-align: left;
    position: relative;
    bottom: 709px;
    left: 580px;
    font-size: 28px;
}

#groupGenre {
    padding: 1px 1px 1px 1px;
    border: solid 1px;
    width: 146px;
    text-align: center;
    position: relative;
    bottom: 709px;
    left: 580px;
}

#txtGG {
    position: relative;
    bottom: 730px;
    left: 580px;
    width: 700px;
    height: 40px;
    font-size: 20px;
}

#groupMem {
    padding: 1px 1px 1px 1px;
    border: solid 1px;
    width: 146px;
    text-align: center;
    position: relative;
    bottom: 709px;
    left: 580px;
}

#txtGM {
    position: relative;
    bottom: 730px;
    left: 580px;
    width: 700px;
    height: 150px;
    font-size: 24px;
}

#groupEdit {
    padding: 1px 1px 1px 1px;
    border: solid 1px;
    width: 146px;
    text-align: center;
    position: relative;
    bottom: 709px;
    left: 580px;
}

#txtGE {
    position: relative;
    bottom: 730px;
    left: 580px;
    width: 700px;
    height: 10px;
    font-size: 15px;
    text-align: left;
    vertical-align: top;
    padding: 10px 10px 140px 10px;
}


#groupExit {
    position: relative;
    color: #ff0000;
    top: 720px;
    left: 675px;
    width: 150px;
    height: 45px;



}



#back {
    position: relative;
    top: 720px;
    left: -55px;
    width: 80px;
    height: 45px;


}