ul, li {
    margin: 0; /* 外側の余白をリセット */
    padding: 0; /* 内側の余白をリセット */
}
/*-------------------------------------
        　　"所属グループ一覧"
--------------------------------------*/
#title {
    outline-color: black;
    list-style: none;
    border: solid 1px;
    padding: 12px 210px 12px 210px;
    text-align: left;
    margin-left: 55px;
    margin-top: 24px;
}
.JoinGroup p {
    display: inline-block;
}

#groupEditR {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* アニメーションの設定 */
}
#groupEditR:hover {
    transform: scale(1.1);
    /* ホバーしたら少し大きくなる */
}
.group li:hover {
    background-color: #effff0;
    color: #01080e;
    outline: 1px solid #2589d0;

}
.group ul {
    overflow-y: auto;
    max-width: 550px;
    max-height: 680px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    left: -625px;
    padding-left: 0;
    border: solid 2px;
    float: left;
    margin-left: 55px;
    margin-top: 4px;
}

.group ul li {
    text-align: center;
    list-style: none;
    border: solid 1px;
    width: 800px;
    list-style: none;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.group a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 30px 0 30px 0;
    margin-bottom: 10px;
    text-decoration: none;

}

.group a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background: #000;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/*-------------------------------------
        　　    画面固定
--------------------------------------*/
html,
body {
    overflow: hidden;
}
/*-------------------------------------
        　　グループ詳細の文字
--------------------------------------*/
.groupEdit p{
    font-size: 25px;
    text-align: left;
    padding-left: 650px;
}
/*-------------------------------------
       "編集内容を確定する"ボタン
--------------------------------------*/
#editDetail{
    padding: 10px 10px 10px 10px;
    float: left;
    margin-top: 16px;
    margin-left: 60px;
}
/*-------------------------------------
       "グループを削除する"ボタン
--------------------------------------*/
#Exit{
    padding: 10px 10px 10px 10px;
    color: rgb(153, 0, 0);
    float: left;
    margin-left: 415px;
}
/*-------------------------------------
グループ名、最大人数、大、中ジャンル、説明
--------------------------------------*/
#groupName{
    padding: 7px 7px;
    font-size: 20px;
}
#sanka{
    padding: 7px 7px;
    font-size: 20px;
}
#mainGenre{
    padding: 7px 7px;
    font-size: 20px;
}
#subGenre{
    padding: 7px 7px;
    font-size: 20px;
}
#textbox-2{
    font-size: 20px;
    width: 700px;
    float: left;
    margin-left: 60px;
    margin-top: -45px;
    resize: none;
}