#group{
    outline-color: black;
}
ul{
    max-width: 500px;
    padding-left:0;
    border: solid 1px;
    position: relative;
    left: 50px;
}
li{
    max-width: 500px;
    list-style: none;
    border:solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    
}

#groupEdit{
    padding: 13px 10px 12px 10px;
    position: relative;
    left: 121px;
}
#group{
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 50px;
}

div p{
    display: inline-block;
}


.box {
    width: 700px;               
    height: 600px;             
    border: 1px solid #000;     
    overflow-y: scroll;
    position: relative;
    left: 700px;
    bottom: 780px;
  }
#MatchingButton{
    position: relative;
    left: 700px;
    bottom: 700px;
    padding: 22px 315px 22px 315px;
}

.multiselect{
    position: relative;
    left: 900px;
}

html,body {
    overflow: hidden;
  }