ul, li {
    margin: 0; /* 外側の余白をリセット */
    padding: 0; /* 内側の余白をリセット */
}

.hachi-maru-pop-regular {
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/*-------------------------------------
            "所属グループ 一覧"
--------------------------------------*/
#title {
    outline-color: black;
    list-style: none;
    border: solid 1px;
    padding: 12px 210px 12px 210px;
    text-align: left;
    margin-left: 55px;
    margin-top: 24px;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
}

.JoinGroup p {
    display: inline-block;
}
/*-------------------------------------
            グループ一覧表示
--------------------------------------*/
#groupEditR {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* アニメーションの設定 */
}

#groupEditR:hover {
    transform: scale(1.1);
    /* ホバーしたら少し大きくなる */
}

.group {
    width: 100%;
    margin: 0px auto 0 auto;
}

.group li:hover {
    background-color: #effff0;
    color: #01080e;
    outline: 1px solid #2589d0;
    transform: scale(1.05);

}

.group ul {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 550px;
    max-height: 680px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    left: -625px;
    padding-left: 0;
    border: solid 2px;
    float: left;
    margin-left: 55px;
    margin-top: 20px;
}

.group ul li {
    text-align: center;
    list-style: none;
    border: solid 1px;
    width: 800px;
    list-style: none;
    border: solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.group a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 30px 0 30px 0;
    margin-bottom: 10px;
    text-decoration-line: none;
    color: black;
}

.group a::after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background: #000;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*-------------------------------------
            マッチングボタン
--------------------------------------*/

.MachingButton{
    padding: 20px 100px 20px 100px;
    float: left;
    margin-left: 200px;
    margin-top: 630px;
}


/*-------------------------------------
                画面固定
--------------------------------------*/
html,
body {
    overflow: hidden;
}
/* From Uiverse.io by eduardo-amaro-maciel */ 
