html{
  overflow: hidden;
 
}

ul,
li,
label {
  margin: 0;
  padding: 0;

}S

ul,
li {
  list-style: none;
}

.room {

  width: 1270px;
  height: 600px;
  /* チャットルームの幅を指定 */
  background: #f9afcf;
  /* チャットルームの背景を灰色 */
  padding: 10px;
  /* 余白を10pxキープ */

  max-width: 100%;
 
  
  

  position: relative;
  left: 580px;
  bottom: 900px;
}

.chat {
  display: flex;
  /* 要素を横並び */
  margin-bottom: 10px;
  /* チャット同士に隙間を作る */
}

.chat .mes {
  max-width: 56%;
  /* 短いチャットにも対応させるため、widthではなくmax-widthを指定 */
  border-radius: 20px;
  /* （あとでも可）角丸を指定 */
  padding: 0.5em;
  /* （あとでも可）メッセージの内側に余白 */
}

.chat .status {
  color: #aaa;
  /* 文字色を灰色に指定 */
  font-size: 11px;
  /* 文字サイズは小さめ */
  align-self: flex-end;
  /* この要素は下寄せ */
  margin: 0 5px;
  /* 左右に隙間を作る（ちょっと楽してます）*/
}

/* 相手メッセージのCSS */
.chat.you .mes {
  color: #fff;
  /* 文字色を白 */
  background: #6e6e6e;
  /* 背景を黒 */
  cursor: pointer;
}

.chat.you .mes:hover {
  background-color: #fff;
  color: #2589d0;
  outline: 1px solid #2589d0;
}

/* 自分メッセージのCSS */
.chat.me {
  flex-direction: row-reverse;
  /* 左右の並び順を逆順にする */
}

.chat.me .mes {
  background: #f0eda9;
  /* 背景色 */
  cursor: pointer;
}

.chat.me .mes:hover {
  background-color: #fff;
  color: #2589d0;
  outline: 1px solid #2589d0;
}

.chat .status {
  text-align: right;
  /* 右寄せにする */
}


#group {
  outline-color: black;
}

.group ul {
  max-width: 500px;
  padding-left: 0;
  border: solid 1px;
  position: fixed;
  position: relative;
  left: 50px;
  position: relative;
  bottom: 70px;
}

.group li {
  max-width: 500px;
  list-style: none;
  border: solid 1px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 10px;
  text-align: center;
 

}


#groupEdit {
  padding: 13px 10px 12px 10px;
  position: relative;
  left: 401px;
  bottom: 63px;
}

#group {
  padding: 10px 10px 10px 10px;
  border: solid 1px;
  width: 300px;
  text-align: center;
  position: relative;
  left: 50px;
}

#message {
  font-size: 20px;
  width: 1150px;
  height: 40px;
  position: relative;
  left: 580px;
  bottom: 890px;
}

#groupDetail {
  padding: 5px 10px 5px 10px;
  position: relative;
  left: 540px;
  bottom: 1580px;
}

.secret{
display: none;
position: relative;
left: 1000px;
}


#submit {
  padding: 10px 10px 10px 10px;
  position: relative;
  bottom: 890px;
  left: 600px;
}


@media (max-width: 1800px) {
  #groupEdit,#group{
    display: none;
    overflow: auto;
  }
  .group{
    display: none;
  }
  .room{
    width: 100%;
    position: absolute;
    left: 0;
    top: 180px;
    padding: 10px;
  }

  #message{
    width: 70%;
    position: relative;
    left: auto;
    top: 600px;
  }
  #submit{
    position: relative;
    bottom: -600px;
    left: 20px;
  }
  
  #name{
    width: 15%;
    position: relative;
    left: auto;
  }
  #edit{
    position: relative;
    left: 30px;
  }

  #groupDetail {

    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 2px;
    bottom: 750px;
  }
  

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* ハンバーガーボタンのデザイン */
.drawer__button {
  position: relative;
  top: -150px;
  margin-left: 95%;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999; /* メニューを開いている時もクリックできるよう設定 */
}
/* ハンバーガーボタン内の線 */
.drawer__button > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
}
.drawer__button > span:first-child {
  transform: translate(-50%, calc(-50% - 0.5rem));
  transition: transform 0.3s ease;
}
.drawer__button > span:nth-child(2) {
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}
.drawer__button > span:last-child {
  transform: translate(-50%, calc(-50% + 0.5rem));
  transition: transform 0.3s ease;
}
/* 展開時のデザイン */
.drawer__button.active > span:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.drawer__button.active > span:nth-child(2) {
  opacity: 0;
}
.drawer__button.active > span:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
/* メニューのデザイン */
.drawer__nav {
  position: absolute; /* 追従ヘッダーなどでも表示できるよう設定しておく */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.drawer__nav.active {
  opacity: 1;
  visibility: visible;
}
.drawer__nav__inner {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 4rem 1.5rem 1rem;
  margin: 0 0 0 auto;
  overflow: scroll;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.drawer__nav.active .drawer__nav__inner {
  transform: translateX(0);
}
.drawer__nav__menu {
  list-style: none;
  padding-left: 0;
}
.drawer__nav__link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem 1rem;
  border-bottom: solid 1px lightgray;
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
  height: 100%;
  overflow: hidden;
}

/* 見た目の調整 */
section {
  width: 100%;
  height: 30vh;
}
section:nth-child(even) {
  background-color: skyblue;
}
}
@media (max-width: 700px) {
  #message{
    width: 70%;
    position: relative;
    left: auto;
    top: 692px;
  }
  #groupDetail {
    padding: 5px 10px 5px 10px;
    position: relative;
    left: 540px;
    bottom: 1580px;
  }
  #submit{
    position: relative;
    bottom: -690px;
    left: 20px;
  }
  .drawer__button {
    position: relative;
    top: -180px;
    margin-left: 95%;

  }
  #name{
    width: 40%;
    position: relative;
    left: auto;
  }
  #edit{
    position: relative;
    left: 30px;
  }
  #groupDetail {

    padding: 5px 10px 5px 10px;
    position: relative;
   
    left: 20px;
  }  
}


