 /* 通報閲覧ボタンを縦長にする */
 .button-container{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.twp-button {
  width: 250px;  /* 横幅 */
  height: 450px;  /* 高さ */
  font-size: 18px; /* フォントサイズ */
  padding: 10px;
}

.small-buttons {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2列 */
  gap: 10px; /* ボタン間の隙間 */
}

/* 他のボタンを大きくする */
button {
  font-size: 18px;
  padding: 95px 220px; /* ボタンの大きさ */
}