#group{
    outline-color: black;
}
ul{
    max-width: 900px;
    padding-left:0;
    border: solid 1px;
    position: relative;
    left: 50px;
}
li{
    max-width: 900px;
    list-style: none;
    border:solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    
}

#groupEdit{
    padding: 13px 10px 12px 10px;
    position: relative;
    left: 121px;
}
#group{
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 50px;
}

div p{
    display: inline-block;
}

.accordion-004 {
    max-width: 800px;
    margin-bottom: 7px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
}

.accordion-004 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.accordion-004 summary::-webkit-details-marker {
    display: none;
}

.accordion-004 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
}

.accordion-004[open] summary::after {
    transform: rotate(225deg);
}

.accordion-004 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3.5em 2.7em 1.9em;
    color: #333333;
    transition: transform .5s, opacity .5s;
}

.accordion-004[open] p {
    transform: none;
    opacity: 1;
}

.genreSelect{
    position: relative;
    left: 1000px;
    bottom: 600px;
}

html,body {
    overflow: hidden;
  }

#groupCreate{
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 48px;
}

#Search{
    position: relative;
    padding: 10px 40px 10px 40px;
    left: 1000px;
    bottom: 300px;

    position: fixed;
}
