#group{
    outline-color: black;
}
ul{
    max-width: 500px;
    padding-left:0;
    border: solid 1px;
    position: relative;
    left: 50px;
}
li{
    max-width: 500px;
    list-style: none;
    border:solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    
}

#group{
    max-width: 480px;
    border: solid 1px;
    width: 480px;
    text-align: center;
    position: relative;
    left: 50px;
    
}

div p{
    display: inline-block;
}
#edit{
    position: relative;
    left: 200px;    
    width: 80px;
    height: 35px;
}
#name{
    position: relative;
    left: 150px;
    width: 500px;
    height: 30px;
}

.selectbox-6 {
    position: relative;
    left: 730px;
    bottom: 700px;
}

.selectbox-6::before,
.selectbox-6::after {
    position: absolute;
    right: 15px;
    width: 9px;
    height: 6px;
    background-color: #535353;
    content: '';
    pointer-events: none;
}

.selectbox-6::before {
    top: calc(50% - 9px);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.selectbox-6::after {
    bottom: calc(50% - 9px);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.selectbox-6 select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-3 {
    display: inline-flex;
    align-items: center;
    position: relative;
    position: relative;
    left: 600px;
    bottom: 700px;
}

.selectbox-3::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox-3 select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em calc(.8em + 30px) .4em .8em;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}


.box-018 {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em calc(1.5em + 9px);
    border-top: 1px solid #2589d0;
    border-bottom: 1px solid #2589d0;
    color: #333;
}

.box-018::before,
.box-018::after {
    position: absolute;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% + 20px);
    background-color: #2589d0;
    content: '';
}

.box-018::before {
    left: 9px;
}

.box-018::after {
    right: 9px;
}




.textbox-1-label,
.textbox-1 {
    color: #333;
}

.textbox-1-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
    position: relative;
    left: 600px;
    bottom: 680px;
}

.textbox-1 {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 3px;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-1::placeholder {
    color: #999;
}



#groupCreate{
    width: 7%;
    position: relative;
    left: 890px;
    height: 85px;
}

#textbox-2{
    height: 150px;
    width:1000px ;
    position: relative;
    left: 600px;
    bottom: 660px;
}

#groupName{
    position: relative;
    left: 730px;
    bottom: 690px;
    width: 500px;
}
#gn{
    position: relative;
    left: 600px;
    bottom: 650px;
}
#sanka{
    position: relative;
    left: 600px;
    bottom: 649px;
}
#j1{
    position: relative;
    left: 600px;
    bottom: 700px;
}
#j2{
    position: relative;
    left: 600px;
    bottom: 700px;
}


#Exit{
    color: #ff0000;
    position: relative;
    left: 500px;
    bottom: 550px;
    padding: 10px 10px 10px 10px;
}
