header{
    color: blueviolet;
}
#edit{
    position: relative;
    left: 180px;
}
#name{
    position: relative;
    left: 150px;
    width: 500px;
}
#send{
    position: relative;
    left: 220px;
}
#group{
    outline-color: black;
}
ul{
    max-width: 500px;
    padding-left:0;
    border: solid 1px;
}
li{
    max-width: 500px;
    list-style: none;
    border:solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#groupEdit{
    padding: 10px 10px 10px 10px;
}
#group{
    padding: 10px 10px 10px 10px;
    border: solid 1px;
    max-width: 130px;
}